.journey-container > p{
    width: 56rem;
    margin: auto;
    text-align: center;

}

.journey-image{
    width: 6vw;
    height: 11vw;
    position: relative;
    left: 12rem;
    margin-top: 50px;
}

.journey-item > h3{
    font-size: 20px;
    width: 17rem;
    text-align: center;
    /* font-weight: 300; */
}

.journey-item{
    display: flex;
    justify-content: center;
}
.tags{
    margin-top: 40px;
    text-align: center;
    font-size: 17px;

}